.wrapper {
  background: #f00;
  min-height: 120dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.callToAction, .callToActionAccent {
  border-radius: 24px;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.12);
}

.callToAction {
  background-color: #FF0095;
  color: white;
}

.callToActionAccent {
  background-color: #000000;
  color: white;
}