.testimonial {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
}

.quote {
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 2rem;
}

.photo {
  width: 100%;
  aspect-ratio: 17 / 9;
  border-radius: 6px;
  overflow: hidden;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}



@media screen and (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 1.5rem;
  }
}
