/* Navbar.module.css */

.content {
  width: 86px;
  height: 64px;
  font-weight: bold;
  color: white;
  mix-blend-mode: difference;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
