/* Navbar.module.css */

.content {
  width: 86px;
  height: 64px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  top: 0;
  z-index: 40;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.floatingButton {
  background: black;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 12px 20px;
  border-radius: 999px;
  position: relative;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.12);
  transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition:
    360ms cubic-bezier(0.175, 8.88, 0.32, 1.275) padding,
    320ms cubic-bezier(0.175, 8.88, 0.32, 1.275) gap,
    300ms ease-out box-shadow;
  /* Puedes dejar otros como ease-out si solo quieres el rebote en padding/gap */
}


.floatingButton:hover {
  gap: 1.2rem;
  padding: 12px 24px;
}

.floatingButton::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 2px;
  z-index: -1;
  width: calc(100% - 4px);
  height: 100%;
  border-radius: 999px;
  transition: 300ms ease all;
  background: linear-gradient(to left, #fd211d, #EAFF00, #00FFEE, #4D00FF, #FF0095);
  background-size: 300% 300%;
  animation: gradientShift 6s ease infinite;
  will-change: background-position;
  opacity: 0.8;
}

.floatingButton:hover::before {
  left: calc(0px - 5%);
  width: 110%;
  height: 100%;
  filter: blur(24px);
  z-index: -2;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}