.wrapper {
  background-color: #ffffff;
  padding: 2rem 0;
}

.card {
  position: relative;
  background: #fafafa;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  border-radius: 28px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  aspect-ratio: 1.61 / 1;
  padding: 1rem;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.32); /* the tint */
}

.card > * {
  position: relative;
  z-index: 1;
}

.content {
  padding: 11rem 1rem;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .card {
    aspect-ratio: 1 / 1.61;
  }

  .content {
    padding: 8rem 1rem;
  }
}
