.bumper {
  width: 100%;
  height: 64px;
  background: white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 39;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.carousel {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: visible;
  padding-top: 2rem;
  padding-bottom: 1rem;
  scroll-snap-type: x mandatory;
  --ms-scroll-snap-type: x mandatory;
  --ms-overflow-style: none;
  scrollbar-width: none;
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  margin-right: 320px;
}

.ghostCard {
  width: 300px !important;
  background: limegreen;
  height: 40px;
}

.card {
  aspect-ratio: 1 / 1.3;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-card);
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out;
  user-select: none;
  width: 300px;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  background: #fafafa;
}
/* Dark overlay only when card has background image */
.withBg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  transition: backdrop-filter 0.4s ease-in-out;
}

.card:hover {
  background-size: 120%;
}

.withBg:hover::before {
  backdrop-filter: blur(24px);
}


.content {
  height: 100%;
  transition: transform 0.3s ease-in-out;
  color: white;
  position: relative; /* ensure content above overlay */
  z-index: 1;
}

.card:hover {
  transform: translateY(-3px);
}

.content {
  height: 100%;
  transition: transform 0.3s ease-in-out;
  color: white;
}

.prompt, .result {
  height: 100%;
}

.prompt {
  padding: 2rem;
  font-size: 1.6rem;
}

.result {
  padding: 2rem;
}

.shot {
  padding: 2rem;
  width: 90%;
  margin: 1rem auto;
}

.shot img {
  user-select: none;
}

.button {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  transition: transform 0.3s ease-in-out;
  color: white;
  z-index: 2; /* ensure button above overlay */
  background: rgba(0, 0, 0, 0.2) !important;
  backdrop-filter: blur(24px);
}

.active .content {
  transform: translateY(-100%);
}

.active .button {
  transform: rotate(540deg);
  background: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(32px);
  color: black;
}

.controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
